.footer {
    background-color: rgb(3, 87, 87); /* Background color of the container */
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; /* Pushes footer to the bottom */
}

.footerContent {
    max-width: 1200px;
    margin: 0 auto;
}

.footerLinks {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.footerLinks li {
    display: inline;
    margin: 0 10px;
}

.footerLinks a {
    color: white;
    text-decoration: none;
}

.footerLinks a:hover {
    text-decoration: underline;
}
