.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.timerContainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.questionContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}


